body {
  color: #576f72;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  background: rgba(147, 125, 194, 0.4);
}

h1 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0;
  font-weight: bolder;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #372948;
  border-radius: 5px;
  background-image: url("../images/art.jpg");
  background-size: cover;
  opacity: 0.8;
}

.overview {
  margin-bottom: 20px;
  margin-top: 30px;
}

.weather-temperature {
  margin-bottom: 60px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 300;
}

.weather-app .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature a {
  text-decoration: none;
}
.weather-temperature .active {
  color: #576f72;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
